@charset "utf-8";

body {
    height: 100%
}

/* character枠 */
.character {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: rgb(255, 255, 255) solid 2px;
    margin: 2.5px
}

.characterList {
    width: 80%;

    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 100%;
    height: calc(100vh - 16px);
}

.idols {
    overflow-y: scroll;
    height: 100%;
}

.idol {
    height: 40px;
    border: rgb(0, 0, 0) solid 2px;
    display: flex;
}

.idol_name {
    width: 40px;
    height: 40px;
    background-color: aqua;
    flex-shrink: 0;
    margin-right: 5px;
}

.units {
    overflow-x: scroll;
    display: flex;
}

.unit {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: blue;
    flex-shrink: 0;
    margin: 0 1px;
}




/*===========================================================*/
/*機能編  5-2-1　3本線が×に*/
/*===========================================================*/
.openbtn {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    /*ボタンを最前面に*/
    cursor: pointer;
    width: 94px;
    height: 94px;
    background: #182578;
    transform: scale(1, 0.5) translate(23.5, 23.5);
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 23px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 33px;
}

.openbtn span:nth-of-type(2) {
    top: 46px;
}

.openbtn span:nth-of-type(3) {
    top: 58px;
}

.openbtn.active span:nth-of-type(1) {
    top: 41px;
    left: 28px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 52px;
    left: 28px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


/*===========================================================*/
/*機能編  5-1-21 クリックしたら円形背景が拡大（右下から）*/
/*===========================================================*/
/*========= ナビゲーションのためのCSS ===============*/
@media screen and (max-width:1300px) {

    /*アクティブになったエリア*/
    #g-nav.panelactive {
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    /*丸の拡大*/
    .circle-bg {
        position: fixed;
        z-index: 3;
        /*丸の形*/
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #182578;
        /*丸のスタート位置と形状*/
        transform: scale(0);
        /*scaleをはじめは0に*/
        right: -50px;
        bottom: -50px;
        transition: all .6s;
        /*0.6秒かけてアニメーション*/
    }

    .circle-bg.circleactive {
        transform: scale(50);
        /*クラスが付与されたらscaleを拡大*/
    }

    /*ナビゲーションの縦スクロール*/
    #g-nav-list {
        display: none;
        /*はじめは表示なし*/
        /*ナビの数が増えた場合縦スクロール*/
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    #g-nav.panelactive #g-nav-list {
        display: block;
        /*クラスが付与されたら出現*/
    }

    /*ナビゲーション*/
    #g-nav ul {
        opacity: 0;
        /*はじめは透過0*/
        /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*背景が出現後にナビゲーションを表示*/
    #g-nav.panelactive ul {
        opacity: 1;
    }

    /* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
    #g-nav.panelactive ul li {
        animation-name: gnaviAnime;
        animation-duration: 1s;
        animation-delay: .2s;
        /*0.2 秒遅らせて出現*/
        animation-fill-mode: forwards;
        opacity: 0;
    }


    /*リストのレイアウト設定*/
    #g-nav li {
        text-align: center;
        list-style: none;
        margin: 0 0 10px 0;
    }

    #g-nav li a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }


}

@keyframes gnaviAnime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}